<plugin>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.dynamic_execution.DynamicFilteringTestSuiteImpl"
                extensionPointId="com.katalon.platform.api.extension.dynamicQueryingTestSuiteDescription"
                implementationClass="com.katalon.plugin.dynamic_execution.DynamicFilteringTestSuiteImpl">
        </point>
    </extension>
</plugin>
