<plugin>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.dynamic_execution.DynamicExecutionPluginActivationListener"
                extensionPointId="com.katalon.platform.api.extension.pluginActivationListener"
                implementationClass="com.katalon.plugin.dynamic_execution.DynamicExecutionPluginActivationListener">
        </point>
    </extension>
</plugin>
