<plugin>
	<extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.tags.TagEventListenerInitializer"
                extensionPointId="com.katalon.platform.api.extension.event"
                implementationClass="com.katalon.plugin.tags.TagEventListenerInitializer">
        </point>
    </extension>
</plugin>
